<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= fileName %> - Görüntüle</title>
</head>
<body>
  <h1>Dosya: <%= fileName %></h1>
  <pre><%= fileContent %></pre>
</body>
</html>
